/*GERAL*/
html, body{
    height: 100%;
    margin: 0px;
    background: #f5f5f5;
}
a:hover{
    text-decoration: none;
    color: inherit;
}
/*////////////////////////////*/

/*ClASSES MAE*/
.titulo{
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: bolder;
    color: #1c7430;
}
.texto{
    font-size: 1.2rem;
    margin-bottom: 20px;
}
/*////////////////////////////*/

/*SOBRE*/
.sobre{
    text-align: center;
    margin: 2rem 0 2rem 0;
}
.sobre__paragrafo{

}
/*////////////////////////////*/

/*PROPOSTAS*/
.propostas{
    padding: 2rem 0 2rem 0;
    text-align: center;
    background: #48944b;
}
.propostas__titulo{
    color: #ffffff;
    text-shadow: gray 1px 2px;
}
.propostas__botao{
    background: #1850c4;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 5px 15px 5px 15px;
}
.propostas__botao:hover{
    background: #1c3e89;
    color: whitesmoke;
}
/*////////////////////////////*/

/*NOTICIAS*/
.noticias{
    text-align: center;
}
.noticias__noticia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #686868;
}
noticias___noticia__imagem {
    width: 100%;
}
.noticias___noticia__texto{
    text-align: start;
}
.noticias___noticia__data{
    color: #1d2124;
    font-size: 1.1rem;
    font-style: italic;
    padding-bottom: 10%;
    text-align: end;
    margin: 5px 10px -30px 0;

}
.noticias___noticia__titulo{
    color: #1d2124;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: #1c7430;
}
.noticias___noticia__paragrafo{
    text-align: justify;
    margin: 10px 25px 10px 25px;
    color: #1b1e21;
}
.noticias__box{
}
.noticia__item{
    margin-bottom: 20px;
}

/*////////////////////////////*/

/*Rede sociais*/
.sociais{
    text-align: center;
    background: #48944b;
    padding-top: 20px;
}
.sociais__titulo{
    color: white;
}
.sociais__logo{
    margin: 10px;
}
.whatsapp{
    width: 70px;
}
.facebook{
    width: 70px;
}
.instagram{
    width: 70px;
}
.youtube{
    width: 80px;
}
.sociais__redes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
/*////////////////////////////*/

/*CONTATO*/
.contato{
    padding-top: 3%;
}
.contato__box{
    text-align: center;
}
.contato__form-box{
    margin-top: 3%;
    margin-bottom: 50px;
}
.contato_form{
    text-align: left;
}
.contato__label{
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-top: 5px;
}
/*////////////////////////////*/