.navbar{
    background: #168e4f;
}
a.nav-link{
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
}
a.nav-link:hover{
    color: #d9d9d9;
}
.dropdown-menu{
    background: #168e4f;
}
a.dropdown-item{
    color: whitesmoke;
}
a.dropdown-item:hover {
    background: #13713f;
    color: whitesmoke;
}