.titulo{
    color: #1c7430;
    margin: 10px 0 0 0;
    font-size: 2.5rem;
    font-weight: bolder;
}
.noticia{
    background: whitesmoke;
}
.noticia__imagem-principal{
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    margin-top: 20px;
    text-align: start;
}
.noticia__box{
    background: white;
    padding: 20px 5% 40px 5%;
}
.noticia__subtitulo{
    color: #1c7430;
    margin: 5px 0 5px 0;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 5px;
}
.noticia__lista{
    list-style-type: square;
    margin-left: 5%;
}
.noticia__item{
    margin: 5px;
}
.noticia__descricao{
    text-align: justify;
    line-height: 1.3rem;
}
.noticia__imagens{
    margin: 10px 0 10px 0;
    background: #151515;
    padding: 20px 0 20px 0;
    border-radius: 10px;
}
.noticia__imagens__titulo{
    margin: 10px;
    font-size: 2rem;
    font-weight: bolder;
}
.noticia__imagem{
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    text-align: start;
    width: 100%;
    height: 40vh;
    object-fit: cover;
}



/*Carrosel com múltiplos itens*/
@media (min-width: 768px) {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}